<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891831335979-k9e2fu5upl38t3dgu0ju13mt21i40rq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891831335979-k9e2fu5upl38t3dgu0ju13mt21i40rq6</string>
	<key>API_KEY</key>
	<string>AIzaSyCIe7cm90P6bRPkM29PKiKN_HXt-J9-28w</string>
	<key>GCM_SENDER_ID</key>
	<string>891831335979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.komnenovicbalsa.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-1e63b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-1e63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891831335979:ios:c8f153214436fea12bbe6e</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-1e63b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>